In [1]:
import pandas as pd
import mysql.connector

In [111]:
conn_str = mysql.connector.connect(
    user = 'simon',
    host = 'localhost',
    password = 'chainsaw',
    database = 'football'
)
query = "SELECT ThisDiv, Date, HomeTeam, AwayTeam, FTHG, FTAG, FTR, HTHG, HTAG, HTR, HST, AwST, HS, AwS, HC, AC FROM football_data_complete ORDER BY Date;"
df = pd.read_sql_query(query, conn_str)
conn_str.close()

In [112]:
df = df.dropna()

In [113]:
df.describe()

,FTHG,FTAG,HTHG,HTAG,HST,AwST,HS,AwS,HC,AC
count,88913.000000,88913.000000,88913.000000,88913.000000,88913.000000,88913.000000,88913.000000,88913.000000,88913.000000,88913.000000
mean,1.485362,1.155174,0.657328,0.504043,5.313115,4.259715,12.509059,10.124099,5.773543,4.681993
std,1.252787,1.110454,0.813452,0.715603,2.838321,2.481868,4.877710,4.329260,2.942527,2.626435
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,3.000000,2.000000,9.000000,7.000000,4.000000,3.000000
50%,1.000000,1.000000,0.000000,0.000000,5.000000,4.000000,12.000000,10.000000,5.000000,4.000000
75%,2.000000,2.000000,1.000000,1.000000,7.000000,6.000000,15.000000,13.000000,8.000000,6.000000
max,10.000000,13.000000,7.000000,6.000000,27.000000,23.000000,43.000000,45.000000,26.000000,21.000000

In [114]:
df.count()

ThisDiv     88913
Date        88913
HomeTeam    88913
AwayTeam    88913
FTHG        88913
FTAG        88913
FTR         88913
HTHG        88913
HTAG        88913
HTR         88913
HST         88913
AwST        88913
HS          88913
AwS         88913
HC          88913
AC          88913
dtype: int64

In [115]:
import numpy as np

In [116]:
df.head()

,ThisDiv,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HST,AwST,HS,AwS,HC,AC
43018,SC0,2000-07-29,Dunfermline,Aberdeen,0.0,0.0,D,0.0,0.0,D,8.0,0.0,23.0,10.0,6.0,6.0
43023,SC0,2000-07-29,Motherwell,Dundee,0.0,2.0,A,0.0,1.0,A,5.0,4.0,8.0,7.0,5.0,4.0
43028,SC0,2000-07-29,Rangers,St Johnstone,2.0,1.0,H,0.0,1.0,A,8.0,2.0,12.0,5.0,4.0,2.0
43029,SC0,2000-07-29,St Mirren,Kilmarnock,0.0,1.0,A,0.0,0.0,D,4.0,3.0,9.0,5.0,6.0,6.0
43031,SC0,2000-07-30,Dundee United,Celtic,1.0,2.0,A,0.0,1.0,A,4.0,9.0,8.0,15.0,6.0,11.0

In [117]:
earliest = df.iloc[0]['Date']

In [118]:
from datetime import timedelta

In [119]:
conn_str.close()

In [120]:
avFtgspg, avFtgcpg, avHtgspg, avHtgcpg, avsTfpg, avsTapg, avsfpg, avsapg, avcfpg, avcapg = 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0

In [121]:
print(avsapg)

0.0

In [122]:
league_list = df['ThisDiv'].unique().tolist()

In [123]:
type(league_list)

list

In [124]:
league_list

['SC0',
 'SC3',
 'SC2',
 'SC1',
 'D1',
 'E3',
 'E1',
 'E2',
 'D2',
 'E0',
 'EC',
 'SP1',
 'I1',
 'F1',
 'B1',
 'F2',
 'P1',
 'T1',
 'N1',
 'SP2',
 'G1',
 'I2']

In [125]:
type(league_list[0])

str

In [126]:
our_date = df.iloc[0]['Date']

In [127]:
our_date

datetime.date(2000, 7, 29)

In [128]:
type(our_date)

datetime.date

In [129]:
df['FTHG'].mean()

1.4853620955315872

In [130]:
sample_date = df.iloc[10000]['Date']

In [131]:
one_year_earlier = sample_date - timedelta(days=365)

In [132]:
df_nffc = df.loc[((df['HomeTeam'] == 'Nottm Forest') | (df['AwayTeam'] == 'Nottm Forest')) & (df['Date'] < sample_date) & (df['Date'] > one_year_earlier)]

In [133]:
sample_date

datetime.date(2003, 12, 26)

In [134]:
df_nffc.tail()

,ThisDiv,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HST,AwST,HS,AwS,HC,AC
66894,E1,2003-11-22,Wigan,Nottm Forest,2.0,2.0,D,1.0,0.0,H,9.0,6.0,11.0,9.0,5.0,5.0
67044,E1,2003-11-29,Nottm Forest,West Brom,0.0,3.0,A,0.0,2.0,A,5.0,4.0,15.0,7.0,9.0,4.0
67173,E1,2003-12-03,Nottm Forest,Ipswich,1.0,1.0,D,0.0,0.0,D,13.0,8.0,13.0,8.0,9.0,4.0
67270,E1,2003-12-06,Watford,Nottm Forest,1.0,1.0,D,0.0,0.0,D,2.0,3.0,5.0,8.0,7.0,3.0
67396,E1,2003-12-13,Crystal Palace,Nottm Forest,1.0,0.0,H,1.0,0.0,H,4.0,1.0,8.0,6.0,5.0,4.0

In [135]:
df_nffc.head()

,ThisDiv,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HST,AwST,HS,AwS,HC,AC
60605,E1,2002-12-28,Nottm Forest,Portsmouth,1.0,2.0,A,0.0,0.0,D,3.0,17.0,4.0,23.0,4.0,7.0
60660,E1,2003-01-01,Nottm Forest,Walsall,1.0,1.0,D,1.0,0.0,H,2.0,5.0,6.0,11.0,8.0,3.0
60908,E1,2003-01-18,Nottm Forest,Coventry,1.0,1.0,D,1.0,0.0,H,8.0,3.0,15.0,5.0,10.0,3.0
61056,E1,2003-01-25,Preston,Nottm Forest,1.0,1.0,D,1.0,1.0,D,9.0,9.0,14.0,16.0,5.0,7.0
61242,E1,2003-02-01,Wimbledon,Nottm Forest,2.0,3.0,A,0.0,2.0,A,5.0,10.0,10.0,14.0,4.0,4.0

In [27]:
gap = float((sample_date - one_year_earlier).days)
gap

365.0

In [28]:
type(gap)

float

In [29]:
x = np.exp(-0.007 * 365)
x

0.07769223206730236

In [84]:
def time_weighted_averages_per_game(df, at_home, this_match_date): # going back 365 days, i = row index
    team_averages = [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
    pld_weight = 0.0 # number of games played represented as time-weighted units
    if at_home == True:
        adj = 0 # adjuster
        h_or_a = 'HomeTeam'
    else:
        adj = 1
        h_or_a = 'AwayTeam'
    for i in range (0, len(df)):
        that_match_date = df.iloc[i, 1] # date of previous match
        days_gap = float((this_match_date - that_match_date).days)
        time_coeff = np.exp(-0.007 * days_gap)
        pld_weight += time_coeff

        team_averages[0] += (df.iloc[i, 4+adj] * time_coeff) # full time goals for
        team_averages[1] += (df.iloc[i, 5-adj] * time_coeff) # full time goals against
        if (df.iloc[i, 6]=='H' and at_home==True) or (df.iloc[i, 6]=='A' and at_home==False):
            team_averages[2] += time_coeff                   # full time win
        elif df.iloc[i, 6] == 'D':
            team_averages[3] += time_coeff                   # full time draw
        elif (df.iloc[i, 6]=='H' and at_home==False) or (df.iloc[i, 6]=='A' and at_home==True):
            team_averages[4] += time_coeff                   # full time loss
        team_averages[5] += (df.iloc[i, 7+adj] * time_coeff) # half time goals for
        team_averages[6] += (df.iloc[i, 8-adj] * time_coeff) # half time goals against
        if (df.iloc[i, 9]=='H' and at_home==True) or (df.iloc[i, 9]=='A' and at_home==False):
            team_averages[7] += time_coeff                   # half time win
        elif df.iloc[i, 9] == 'D':
            team_averages[8] += time_coeff                   # half time draw
        elif (df.iloc[i, 9]=='H' and at_home==False) or (df.iloc[i, 9]=='A' and at_home==True):
            team_averages[9] += time_coeff                   # half time loss
        team_averages[10] += (df.iloc[i, 10+adj] * time_coeff) # shots on target for
        team_averages[11] += (df.iloc[i, 11-adj] * time_coeff) # shots on target against
        team_averages[12] += (df.iloc[i, 12+adj] * time_coeff)# shots for
        team_averages[13] += (df.iloc[i, 13-adj] * time_coeff)# shots against
        team_averages[14] += (df.iloc[i, 14+adj] * time_coeff)# corners for
        team_averages[15] += (df.iloc[i, 15-adj] * time_coeff)# corners against

    for i in range (0, len(team_averages)):
        team_averages[i] /= pld_weight

    return team_averages

In [85]:
import datetime
from datetime import date

In [86]:
match_date = datetime.date(2021, 2, 26)

In [95]:
earliest_date = match_date - timedelta(days=365)

In [96]:
df_nffc_home = df.loc[(df['HomeTeam']=='Nottm Forest') & (df['Date'] > earliest_date) & (df['Date'] < match_date)]

In [97]:
nffc_home_averages = time_weighted_averages_per_game(df_nffc_home, True, match_date)

In [98]:
nffc_home_averages

[0.9534919798853035,
 0.8596562158384357,
 0.3377531781003631,
 0.37287654010320287,
 0.28937028179643387,
 0.3734344075132063,
 0.44709135829310204,
 0.32020983017769644,
 0.33210479815908334,
 0.34768537166322,
 3.435335282925507,
 3.4318637989028993,
 12.361308477123993,
 10.241474397864163,
 5.137659838996378,
 5.2779581287834665]

In [99]:
df_nffc_away = df.loc[(df['AwayTeam']=='Nottm Forest') & (df['Date'] > earliest_date) & (df['Date'] < match_date)]
nffc_away_averages = time_weighted_averages_per_game(df_nffc_away, False, match_date)
nffc_away_averages

[0.8784710573323459,
 1.063245628305687,
 0.2926498110447326,
 0.24630922682851075,
 0.4610409621267567,
 0.2290001709748711,
 0.4137889569263372,
 0.1110699285872199,
 0.5930713568740943,
 0.29585871453868595,
 2.231622245768504,
 3.739012750226578,
 9.943551456574124,
 12.221555582884427,
 5.0586489356638475,
 5.317793558349834]

In [100]:
df_lg_year = df.loc[(df['Date']<match_date) & (df['Date']>earliest_date)]

In [101]:
lg_avs_home = time_weighted_averages_per_game(df_lg_year, True, match_date)
lg_avs_away = time_weighted_averages_per_game(df_lg_year, False, match_date)

In [102]:
for i in range (0, len(lg_avs_home)):
    print(lg_avs_home[i])

1.375203254604277
1.2112167166613483
0.4036999424937573
0.26459796250986795
0.33170209499636766
0.6215562229076265
0.5374123175742729
0.31937889583749896
0.41832319059236556
0.2622979135701273
4.317464951111433
3.8600324084998596
11.927513164335899
10.698453764724187
5.002017529083962
4.5174347105925925

In [103]:
df_lg_year['AC'].mean()

4.535678725522735

In [105]:
df_lg_year2 = df.loc[(df['Date']<match_date) & (df['Date']>earliest_date)]

In [106]:
lg_avs2_home = time_weighted_averages_per_game(df_lg_year2, True, match_date)
lg_avs2_away = time_weighted_averages_per_game(df_lg_year2, False, match_date)

In [107]:
for i in range (0, len(lg_avs2_home)):
    print(lg_avs2_home[i])

1.375203254604277
1.2112167166613483
0.4036999424937573
0.26459796250986795
0.33170209499636766
0.6215562229076265
0.5374123175742729
0.31937889583749896
0.41832319059236556
0.2622979135701273
4.317464951111433
3.8600324084998596
11.927513164335899
10.698453764724187
5.002017529083962
4.5174347105925925

In [58]:
df.tail()

,ThisDiv,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,HST,AwST,HS,AwS,HC,AC
238043,I1,2021-02-22,Juventus,Crotone,3.0,0.0,2.0,0.0,9.0,3.0,26.0,16.0,7.0,3.0
238045,P1,2021-02-22,Maritimo,Porto,1.0,2.0,1.0,1.0,7.0,6.0,12.0,14.0,3.0,3.0
238046,SP1,2021-02-22,Osasuna,Sevilla,0.0,2.0,0.0,1.0,0.0,5.0,6.0,10.0,3.0,5.0
238048,G1,2021-02-22,Panetolikos,Panathinaikos,1.0,0.0,1.0,0.0,3.0,3.0,4.0,7.0,2.0,8.0
238052,SP2,2021-02-22,Zaragoza,Alcorcon,0.0,1.0,0.0,0.0,2.0,1.0,11.0,13.0,4.0,6.0