In [3]:
import pandas as pd
import mysql.connector

In [18]:
conn_str = mysql.connector.connect(
    user = 'simon',
    host = 'localhost',
    password = 'chainsaw',
    database = 'football'
)

In [19]:
query = "SELECT ThisDiv, Date, HomeTeam, AwayTeam, FTHG, FTAG, HST, AwST, HS, AwS FROM football_data_complete WHERE ThisDiv = 'E1' ORDER BY Date DESC LIMIT 5000;"

In [20]:
e1_df = pd.read_sql_query(query, conn_str)
conn_str.close()

In [21]:
e1_df.head()

,ThisDiv,Date,HomeTeam,AwayTeam,FTHG,FTAG,HST,AwST,HS,AwS
0,E1,2021-02-20,Stoke,Luton,3,0,8.0,1.0,18.0,8.0
1,E1,2021-02-20,Sheffield Weds,Birmingham,0,1,3.0,2.0,10.0,7.0
2,E1,2021-02-20,Reading,Middlesbrough,0,2,3.0,5.0,13.0,8.0
3,E1,2021-02-20,QPR,Bournemouth,2,1,5.0,5.0,11.0,11.0
4,E1,2021-02-20,Nottm Forest,Blackburn,1,0,3.0,5.0,13.0,12.0

In [22]:
e1_df[['FTHG', 'FTAG']].mean()

FTHG    1.4306
FTAG    1.1510
dtype: float64