In [1]:
import pandas as pd
import mysql.connector

In [2]:
conn_str = mysql.connector.connect(
    user = 'simon',
    host = 'localhost',
    password = 'chainsaw',
    database = 'football'
)
query = "SELECT ThisDiv, Date, HomeTeam, AwayTeam, FTHG, FTAG, HTHG, HTAG, HST, AwST, HS, AwS, HC, AC FROM football_data_complete ORDER BY Date;"
df = pd.read_sql_query(query, conn_str)
conn_str.close()

In [3]:
df = df.dropna()

In [4]:
df.describe()

,FTHG,FTAG,HTHG,HTAG,HST,AwST,HS,AwS,HC,AC
count,88913.000000,88913.000000,88913.000000,88913.000000,88913.000000,88913.000000,88913.000000,88913.000000,88913.000000,88913.000000
mean,1.485362,1.155174,0.657328,0.504043,5.313115,4.259715,12.509059,10.124099,5.773543,4.681993
std,1.252787,1.110454,0.813452,0.715603,2.838321,2.481868,4.877710,4.329260,2.942527,2.626435
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,3.000000,2.000000,9.000000,7.000000,4.000000,3.000000
50%,1.000000,1.000000,0.000000,0.000000,5.000000,4.000000,12.000000,10.000000,5.000000,4.000000
75%,2.000000,2.000000,1.000000,1.000000,7.000000,6.000000,15.000000,13.000000,8.000000,6.000000
max,10.000000,13.000000,7.000000,6.000000,27.000000,23.000000,43.000000,45.000000,26.000000,21.000000

In [5]:
df.count()

ThisDiv     88913
Date        88913
HomeTeam    88913
AwayTeam    88913
FTHG        88913
FTAG        88913
HTHG        88913
HTAG        88913
HST         88913
AwST        88913
HS          88913
AwS         88913
HC          88913
AC          88913
dtype: int64

In [6]:
import numpy as np

In [7]:
df.head()

,ThisDiv,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,HST,AwST,HS,AwS,HC,AC
43018,SC0,2000-07-29,Dunfermline,Aberdeen,0.0,0.0,0.0,0.0,8.0,0.0,23.0,10.0,6.0,6.0
43023,SC0,2000-07-29,Motherwell,Dundee,0.0,2.0,0.0,1.0,5.0,4.0,8.0,7.0,5.0,4.0
43028,SC0,2000-07-29,Rangers,St Johnstone,2.0,1.0,0.0,1.0,8.0,2.0,12.0,5.0,4.0,2.0
43029,SC0,2000-07-29,St Mirren,Kilmarnock,0.0,1.0,0.0,0.0,4.0,3.0,9.0,5.0,6.0,6.0
43031,SC0,2000-07-30,Dundee United,Celtic,1.0,2.0,0.0,1.0,4.0,9.0,8.0,15.0,6.0,11.0

In [8]:
earliest = df.iloc[0]['Date']

In [9]:
from datetime import timedelta

In [ ]:
conn_str.close()

In [13]:
avFtgspg, avFtgcpg, avHtgspg, avHtgcpg, avsTfpg, avsTapg, avsfpg, avsapg, avcfpg, avcapg = 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0

In [14]:
print(avsapg)

0.0

In [22]:
league_list = df['ThisDiv'].unique().tolist()

In [23]:
type(league_list)

list

In [24]:
league_list

['SC0',
 'SC3',
 'SC2',
 'SC1',
 'D1',
 'E3',
 'E1',
 'E2',
 'D2',
 'E0',
 'EC',
 'SP1',
 'I1',
 'F1',
 'B1',
 'F2',
 'P1',
 'T1',
 'N1',
 'SP2',
 'G1',
 'I2']

In [25]:
type(league_list[0])

str

In [31]:
our_date = df.iloc[0]['Date']

In [32]:
our_date

datetime.date(2000, 7, 29)

In [33]:
type(our_date)

datetime.date

In [35]:
df['FTHG'].mean()

1.4853620955315872

In [44]:
sample_date = df.iloc[10000]['Date']

In [55]:
one_year_earlier = sample_date - timedelta(days=365)

In [56]:
df_nffc = df.loc[((df['HomeTeam'] == 'Nottm Forest') | (df['AwayTeam'] == 'Nottm Forest')) & (df['Date'] < sample_date) & (df['Date'] > one_year_earlier)]

In [57]:
sample_date

datetime.date(2003, 12, 26)

In [58]:
df_nffc.tail()

,ThisDiv,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,HST,AwST,HS,AwS,HC,AC
66894,E1,2003-11-22,Wigan,Nottm Forest,2.0,2.0,1.0,0.0,9.0,6.0,11.0,9.0,5.0,5.0
67044,E1,2003-11-29,Nottm Forest,West Brom,0.0,3.0,0.0,2.0,5.0,4.0,15.0,7.0,9.0,4.0
67173,E1,2003-12-03,Nottm Forest,Ipswich,1.0,1.0,0.0,0.0,13.0,8.0,13.0,8.0,9.0,4.0
67270,E1,2003-12-06,Watford,Nottm Forest,1.0,1.0,0.0,0.0,2.0,3.0,5.0,8.0,7.0,3.0
67396,E1,2003-12-13,Crystal Palace,Nottm Forest,1.0,0.0,1.0,0.0,4.0,1.0,8.0,6.0,5.0,4.0

In [59]:
df_nffc.head()

,ThisDiv,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,HST,AwST,HS,AwS,HC,AC
60605,E1,2002-12-28,Nottm Forest,Portsmouth,1.0,2.0,0.0,0.0,3.0,17.0,4.0,23.0,4.0,7.0
60660,E1,2003-01-01,Nottm Forest,Walsall,1.0,1.0,1.0,0.0,2.0,5.0,6.0,11.0,8.0,3.0
60908,E1,2003-01-18,Nottm Forest,Coventry,1.0,1.0,1.0,0.0,8.0,3.0,15.0,5.0,10.0,3.0
61056,E1,2003-01-25,Preston,Nottm Forest,1.0,1.0,1.0,1.0,9.0,9.0,14.0,16.0,5.0,7.0
61242,E1,2003-02-01,Wimbledon,Nottm Forest,2.0,3.0,0.0,2.0,5.0,10.0,10.0,14.0,4.0,4.0

In [63]:
gap = float((sample_date - one_year_earlier).days)
gap

365.0

In [64]:
type(gap)

float

In [66]:
x = np.exp(-0.007 * 365)
x

0.07769223206730236

In [67]:
def time_weighted_averages_per_game(df, at_home, this_match_date): # going back 365 days, i = row index
    team_averages = [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,0.0, 0.0]
    pld_weight = 0.0 # number of games played represented as time-weighted units
    if at_home == True:
        adj = 0 # adjuster
        h_or_a = 'HomeTeam'
    else:
        adj = 1
        h_or_a = 'AwayTeam'
    for i in range (0, len(df)):
        that_match_date = df.iloc[i, 1] # date of previous match
        days_gap = float((this_match_date - that_match_date).days)
        time_coeff = np.exp(-0.007 * days_gap)
        pld_weight += time_coeff

        team_averages[0] += (df.iloc[i, 4+adj] * time_coeff) # full time goals for
        team_averages[1] += (df.iloc[i, 5-adj] * time_coeff) # full time goals against
        team_averages[2] += (df.iloc[i, 6+adj] * time_coeff) # half time goals for
        team_averages[3] += (df.iloc[i, 7-adj] * time_coeff) # half time goals against
        team_averages[4] += (df.iloc[i, 8+adj] * time_coeff) # shots on target for
        team_averages[5] += (df.iloc[i, 9-adj] * time_coeff) # shots on target against
        team_averages[6] += (df.iloc[i, 10+adj] * time_coeff)# shots for
        team_averages[7] += (df.iloc[i, 11-adj] * time_coeff)# shots against
        team_averages[8] += (df.iloc[i, 12+adj] * time_coeff)# corners for
        team_averages[9] += (df.iloc[i, 13-adj] * time_coeff)# corners against

    for i in range (0, len(team_averages)):
        team_averages[i] /= pld_weight

    return team_averages

In [73]:
from datetime import date

In [77]:
match_date = datetime.date(2021, 2, 26)

In [78]:
earliest_date = match_date - timedelta(days=365)

In [79]:
df_nffc_home = df.loc[(df['HomeTeam']=='Nottm Forest') & (df['Date'] > earliest_date) & (df['Date'] < match_date)]

In [81]:
nffc_home_averages = time_weighted_averages_per_game(df_nffc_home, True, match_date)

In [82]:
nffc_home_averages

[0.9534919798853035,
 0.8596562158384357,
 0.3734344075132063,
 0.44709135829310204,
 3.435335282925507,
 3.4318637989028993,
 12.361308477123993,
 10.241474397864163,
 5.137659838996378,
 5.2779581287834665]

In [83]:
df_nffc_away = df.loc[(df['AwayTeam']=='Nottm Forest') & (df['Date'] > earliest_date) & (df['Date'] < match_date)]
nffc_away_averages = time_weighted_averages_per_game(df_nffc_away, False, match_date)
nffc_away_averages

[0.8784710573323459,
 1.063245628305687,
 0.2290001709748711,
 0.4137889569263372,
 2.231622245768504,
 3.739012750226578,
 9.943551456574124,
 12.221555582884427,
 5.0586489356638475,
 5.317793558349834]